body {
  background-image: url(bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #3b0202c9;
  padding: 40px 40px;
  margin-left: 100px;
  border-radius: 30px;
}
.container h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}


.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.controls #add {
  width: 80px;
  height: 35px;
  color: white;
  background-color: #009900;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: ease 0.5s;
}

.container #add:hover {
  background-color: #0c530c;
  transform: translatey(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.tclass {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.done {
  color: gray;
  text-decoration: line-through;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#list {
  list-style-type: none;
  background-color: rgb(204, 183, 183);
  border-radius: 15px;
}

#list li {
  position: relative; /* مهم */
  padding: 10px 40px 10px 10px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

#list li .button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: ease 0.8s;
}

#list li .button:hover {
  border-radius: 15px;
  right: 15px;
  background-color: #3b0202c9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.div2 {
  background-color: rgb(145, 91, 91);
}

.edit {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: ease 0.8s;
}



.edit:hover {
  border-radius: 15px;
  right: 55px;
  background-color: #3b0202c9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.font {
  color: red;
}

.container .clear {
  width: 80px;
  height: 35px;
  margin-left: 8px;
  color: white;
  background-color: red;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: ease 0.5s;
}

.container .clear:hover {
  background-color: rgb(102, 9, 9);
  transform: translatey(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.container .count2 {
  text-align: center;
  color: #f5deb3;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 700;
}

#checkme {
  background-color: red;
}

.todo-check {
  accent-color: green;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateX(-200%);
  margin: -9px 3px 16px 12px;
  width: 17px;
  height: 18px;
  cursor: pointer;

}

/* .todo-check:checked  {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 12px;
  height: 12px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
} */



.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-box {
  background: rgb(118, 175, 161);
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}


.modal-box p{
  font-family: Arial, Helvetica, sans-serif;
}
.modal-box h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
/* .modal-actions {
  margin-top: 10px;
} */

#confirmClear {
  background: #e53935;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease 0.6s;
}

#confirmClear:hover{
  background-color: rgb(102, 9, 9);
  transform: translatey(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

#cancelClear {
  background-color: #009900;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  padding: 8px 15px;
  cursor: pointer;
  transition: ease 0.6s;
}

#cancelClear:hover{
  background-color: #093f09;
  transform: translatey(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}


#up {
  background-color: #0f5f77;
  position: fixed;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  transition: ease 0.6s;
}

#up:hover{
  background-color: #042530;
  transform: translatey(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}